.PortraitRacetrackWrapper {
  width: 100%;
  height: 100%;
  display: flex;

  .pointer {
    fill: var(--green);
    pointer-events: none;
  }

  .RacetrackButtonsWrapper {
    margin-left: 8px;
    width: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-family-sans-serif);
    font-size: 16px;

    .disabled {
      opacity: 0.5;
    }

    .RacetrackButton {
      width: 26px;
      height: 26px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      button {
        width: 24px;
        height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
        margin: 0;
        border-radius: 50%;
        border-color: transparent;
        background-color: transparent;
        border: 1.5px solid var(--white);
        color: var(--white);
      }
    }
  }

  .RacetrackWrapper {
    position: relative;
    width: calc(100% - 40px);
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.PortraitRacetrack {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  touch-action: pan-y;
  overflow: visible;

  .dddRacetrack-wrapper .red_color {
    fill: #de2201;
    fill-opacity: 0.75;
  }

  .dddRacetrack-wrapper .red_color.highlighted {
    fill: rgba(237, 137, 120, 1);
  }

  .dddRacetrack-wrapper .black_color {
    fill: #1a1a1a;
    fill-opacity: 0.75;
  }

  .dddRacetrack-wrapper .black_color.highlighted {
    fill: rgba(133, 133, 133, 1);
  }

  .dddRacetrack-wrapper .green_color {
    fill: url(#green_color_radial);
  }

  .dddRacetrack-wrapper .green_color.highlighted {
    fill: url(#green_color_radial_highlighted);
  }

  .dddRacetrack-wrapper .sector_color {
    fill: rgba(255, 255, 255, 0);
  }

  .dddRacetrack-wrapper .sector_color.highlighted {
    fill: rgba(255, 255, 255, 0.47);
  }

  .dddRacetrack-wrapper .red_labels_color {
    pointer-events: none;
    fill: #E5E5E5;
  }

  .dddRacetrack-wrapper .black_labels_color {
    pointer-events: none;
    fill: #FFFFFF;
  }

  .dddRacetrack-wrapper .green_labels_color {
    pointer-events: none;
    fill: #FFFFFF;
  }


  .dddRacetrack-wrapper .red_color_label,
  .dddRacetrack-wrapper .black_color_label,
  .dddRacetrack-wrapper .green_color_label,
  .dddRacetrack-wrapper .called_bets_label,
  .dddRacetrack-wrapper .outsides_color_label,
  .dddRacetrack-wrapper .outside_small_color_label {
    pointer-events: none;
    font-weight: 400;
    font-family: Inter, Arial;
    text-anchor: middle;
  }

  .dddRacetrack-wrapper .vertical_center {
    dominant-baseline: central;
  }

  .dddRacetrack-wrapper .outside_color_label {
    pointer-events: none;
    font-weight: 400;
    font-family: Inter, Arial;
    text-anchor: middle;
  }

  .dddRacetrack-wrapper .red_color_label {
    fill: #E5E5E5;
  }

  .dddRacetrack-wrapper .black_color_label {
    fill: #FFFFFF;
  }

  .dddRacetrack-wrapper .green_color_label {
    fill: #FFFFFF;
  }

  .dddRacetrack-wrapper .called_bets_label {
    fill: #FFFFFF;
  }

  .dddRacetrack-wrapper .outsides_color_label,
  .dddRacetrack-wrapper .outside_color_label {
    fill: #FFFFFF;
  }

  .dddRacetrack-wrapper .outside_small_color_label,
  .dddRacetrack-wrapper .outside_color_label .small {
    fill: #FFFFFF;
  }

  .dddRacetrack-wrapper .red_color_label,
  .dddRacetrack-wrapper .black_color_label,
  .dddRacetrack-wrapper .green_color_label,
  .dddRacetrack-wrapper .called_bets_label {
    font-size: 38px;
  }

  .dddRacetrack-wrapper .border {

    pointer-events: none;
    stroke-width: 0;
    fill: #FFF9E3;
    stroke: #FFF9E3;
  }
}

.PortraitRacetrackButtons {
  width: 100%;
  height: 100%;
  circle {
    fill: #fff;
    stroke: #fff;
    stroke-width: 1.2;
    stroke-miterlimit: 10;
    fill-opacity: 0;
    cursor: pointer;
    opacity: .9;
  }

  polygon {
    stroke-width: 0;
    cursor: pointer;
    opacity: .9;
    pointer-events: none;
    fill: #fff;
  }

  text {
    fill: #fff;
    font-size: 18px;
    pointer-events: none;
  }

  rect {
    stroke-width: 0;
    cursor: pointer;
    opacity: .9;
    pointer-events: none;
    fill: #fff;
  }
}